# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# TypeScript build output
dist/
out/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak

# Uploaded raw files for Local testing
uploads/